{% extends 'base.html' %}
{% block title %}{{train.name}}{% endblock %}
{% block content %}
<div class="div col-md">
    <h1>Подробный просмотр</h1>
</div>
<div class="row">
    <div class="div col-md">
        <table class="table table-success table-striped table-hover">
            <tr>
                <th>Название</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время поездки</th>
                {% if request.user.is_authenticated %}
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                {% endif %}
            </tr>
            <tr>
                <td>{{train.name}}</td>
                <td>{{train.from_city}}</td>
                <td>{{train.to_city}}</td>
                <td>{{train.travel_time}}ч.</td>
                {% if request.user.is_authenticated %}
                <td>
                    <a href="{% url 'trains:update' pk=train.pk %}">
                        <button class="btn btn-secondary">Редактировать</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'trains:delete' pk=train.pk %}">
                        <button class="btn btn-danger">Удалить</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}